.title{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-left: 2rem;
}

body{
    font-size: 62.5%;
    
}

.title:before{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}
