body{
    font-family: Arial, sans-serif;
}

.weekly-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #EEE;
}

.weekly-item .number{
    font-size: 20px;
    padding: 5px 10px;
}

.weekly-item .info{
    font-size: 16px;
    flex-grow: 1;
}

.weekly-item .singer{
    font-size: 12px;
    color: #BBB;
}

.weekly-item .song-title{
    margin-bottom: 5px;
}