.container{
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
    position: relative;
    top: 10px;
    right: 10px;
}

.green{
    background-color: green;
}