.card{
    background-color: #ddd;
    width: 20rem;
    height: 50rem;
    position: relative;
}

.sale{
    background-color: rgb(255, 187, 0);
    position: absolute;
    right: 1rem;
    top: .5rem;
    border-radius: 1rem;
    padding: 5px;
    color: white;
    font-size: 1.2rem;
    z-index: 2;
}

.rag{
    background-color: black;
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    z-index: 1;
}