body{
    padding: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.card{
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(25% - 20px);
    margin-left: 20px;
}

.card-iamge{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-content{
    padding: 20px;
}

.card-title{
    font-weight: 500;
    margin-bottom: 20px;
}

.card-user{
    display: flex;
    align-items: center;
}

.card-user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    flex-shrink: 0;
    object-fit: cover;
}

.card-user-info{
    padding-left: 15px;
    flex: 1;
}

.card-user-top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}